@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-color: #c4d9df;
}

p, input {
    font-family: 'Fira Sans', sans-serif;
}

.content-wrapper {
    margin: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 700px;
    border: 1px solid black;
    background-color: #ececec;
}

.heading {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: rgb(65, 64, 71);
    ;
}

.heading h1 {
    padding: 0;
    margin: auto 0;
}

.content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: flex-start; */
}

.wrapper {
    justify-content: space-around;
    display: flex;
    flex-flow: column nowrap;
}

.add-btn-group {
    display: flex;
    flex-flow: row nowrap;
}

.section {
    padding: 10px 20px;
    width: 100%;
}

.section.first {

}

.col {
    padding: 0 20px;
    width: 100%;
}

.col-headers {
    display: flex;
    flex-flow: row nowrap;
}

.col-headers p {
    font-size: 16px;
    text-transform: uppercase;
}

.col:first-of-type {
    border-right: 1px solid black;
}

.col-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.col-item p {
    font-size: 16px;
    font-weight: 300;
}

p.item-field-1 {
    min-width: 150px;
}

p.item-field-2 {
    min-width: 50px;  
}

.money {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 30px;
    align-items: center;
}

input[type="button"] {
    margin: 0 10px;
}

.item-buttons {
    display: flex;
    flex-flow: row nowrap;
}

.item-buttons label {
    margin: 0;
}

.item-buttons button {
    /* padding: 9px; */
} 

.add-btn-group input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #c7c7c7;
    line-height: 1.2rem;
    font-size: 1rem;
    margin: 15px 0;
    color: #6c6e75;
    margin: 15px 10px 15px 0;
    width: 80%;
    transition: all 100ms ease-out;
}

.add-btn-group input:focus {
    border: 0;
    background-color: transparent;
    outline: 0;
    border-bottom: 2px solid #4f5567;
    transition: all 100ms ease-in;
}

.add-btn-group {
    height: 0;
    transform: translateY(52px);
    opacity: 0;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.add-btn-group.active {
    height: 52px;
    opacity: 1;
    transform: translateY(0);
    transition: all 200ms ease-in-out;
}


/* ###################################################### */
/* ########     HEADER SETTINGS     ##################### */
.settings-modal {
    background-color: #ece6e6;
    width: 80vw;
    height: 50vh;
    margin: 20vh auto 20vh;
    max-width: 500px;
    padding: 20px 40px;
    border-radius: 5px;
    color: #525252;
}